.toolsBtns {
    position: absolute;
    top: 0;
    left: 2%;
    
    height: 100%;
    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playBtnWrap {
    color: #000;

    text-align: center;

    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s ease;
    
    &_hidden {
        display: none;
    }
}

.playBtn {
    color: #000;
    text-align: center;
    width: 38px;
    height: 25px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    user-select: none;
    border: none;
    background-color: none;
    background: none;

    &:hover {
        transform: scale(1.1);
    }
    
    &_hidden {
        display: none;
    }
}

.pauseBtn {
    color: #000;
    text-align: center;
    width: 35px;
    height: 25px;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.2s ease;
    user-select: none;
    
    &:hover {
        transform: scale(1.1);
    }
    
    &_hidden {
        display: none;
    }
}

.forwardBtn {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    user-select: none;

    &_hidden {
        display: none;
    }
}

.rewindBtn {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    user-select: none;

    &_hidden {
        display: none;
    }
}