.toolsBtns {
    position: absolute;
    top: 0;
    left: 2%;
    
    height: 100%;
    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playBtnWrap {
    background: none;
    user-select: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.playBtn {
    transition: all 0.2s ease;
    height:42px;

    &:hover {
        transform: scale(1.1);
    }
}

.pauseBtn {
    transition: all 0.2s ease;
    height:42px;
    
    &:hover {
        transform: scale(1.1);
    }
}

.forwardBtn {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    user-select: none;
}

.rewindBtn {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    user-select: none;
}