.soundAndTimeContainer {
    width: 30%;
    height: 35%;
    position: absolute;
    top: 35%;
    left: 15%;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    gap: 15px;
    flex-direction: row;
    align-items: center;

    &_hidden {
        display: none;
    }
}

.soundContainer {
    width: 100%;
    cursor: pointer;
    display: flex;
    gap: 15px;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    transition: width 0.5s ease;

    &_hidden {
        transition: width 0.5s ease;
        width: 10%;
    }

}

.soundBtn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
}

.soundVolumeBackground {
    width: 80%;
    height: 5px;
    background-color: red;
    display: block;

    &_hidden {
        display: none;
    }
}

.soundVolumeFilled {
    width: 100%;
    height: 5px;
    background-color: rgb(0, 255, 76);
    display: block;

    &_hidden {
        display: none;
    }
}

.indicateTime {
    color: rgb(0, 0, 0);
    font-size: 20px;
    height: 60%;
    width: 100%;
    left: 21%;
    font-weight: 600;
    user-select: none;

    &_hidden {
        display: none;
    }
}