.soundAndTimeContainer {
    width: 65%;
    height: 90%;
    // position: absolute;
    // top: 50%;
    // left: 13%;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    gap: 15px;
    flex-direction: row;
    z-index: 100;
    align-items: center;
}

.soundContainer {
    width: 40%;
    cursor: pointer;
    display: flex;
    gap: 15px;
    flex-direction: row;
    align-items: center;
}

.soundBtn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
}

.soundVolumeBackground {
    width: 80%;
    height: 5px;
    background-color: red;
    // display: block;
    position: relative;
    transition: width 0.5s ease;

    &_hidden {
        width: 0%;
    }
}

.soundVolumeFilled {
    width: 102%;
    max-width: 102%;
    height: 5px;
    background-color: rgb(0, 255, 76);
    display: block;
    position: relative;
}

.pointer {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    user-select: none;
    background-color: #000;
    cursor: pointer;
    

    top: -2px;
    right: 0;
    transform: translateX(50%);
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10px;
    font-weight: bold;
}

.indicateTime {
    color: rgb(0, 0, 0);
    font-size: 20px;
    height: 50%;
    width: 35%;
    // left: 21%;
    font-weight: 600;
    user-select: none;

    &_narrowed {
        font-weight: 600;
        font-size: 20px;
        width: 20%;
    }
}

.fragmentTitle {
    width: 100%;
    font-size: 18px;
}