.settingsContainer {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 40%;
    right: 3%;

    &_hidden {
        display: none;
    }
}

.settingsOptions {
    display: block;
    position: absolute;
    bottom: 200%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &_hidden {
        display: none;
    }
}

.settingOption {
    background-color: aqua;
    padding: 10px 20px;
    &:hover {
        background-color: #fff;
    }
}

.settings {
    color: #000;
}

.fullScreen {
    color: #fff;
}