.settingsContainer {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 40%;
    right: 3%;
}

.settingsOptions {
    display: block;
    position: absolute;
    // bottom: 200%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    // gap: 10px;
}

.settingsWrapper {
    position: relative;
}

.settingOption {
    background-color: aqua;
    padding: 10px 20px;
    &:hover {
        background-color: #fff;
    }
}

.settings {
    color: #ffffff;
    background: none;
    cursor: pointer;
    border: none;
    user-select: none;
}

.modalHeader {
    cursor: pointer;
    color: #fff;
}

.modalBtn {
    background: none;
    padding: 10 5;
    color: #fff;
    border: none;
    font-size: 20px;

    &:hover {
        background-color: rgb(255, 231, 201, 0.1);
        border-radius: 10px;
    }
}

.modalBtnContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.modal {
    width: 200px;
    position: absolute;
    transform: translateX(-45%);
    bottom: 50px;
    background-color: rgb(38, 41, 41, 0.7);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.fullScreen {
    background: none;
    border: none;
    user-select: none;
}

.fullScreenImg {
    height: 32px;
    &:hover {
        transform: scale(1.1);
    }
}