body {
    margin: 0;
}

/* styles.module.scss */
.toolsContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    // background-color: gray;
    // top: 40%;
    // left: 50%;
    // height: 60px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}

.playBtn {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    z-index: 1000;
    transition: all 0.2s ease;
    position: absolute;
    // top: ;
    top: -8%;
    left: 10px;
    // right: 0%;
    
    &:hover {
        background: rgba(0, 0, 0, 0.7);
        transform: scale(1.1);
    }
    
    &_hidden {
        display: none;
    }
}

.progressContainer {
    position: relative;
    // bottom: 0;
    // left: 0;
    top: -11%;
    left: 0;
    width: 100%;
    // height: 100%;
    cursor: pointer;
    display: flex;
    // align-items: center;
    // padding: 0 20px;

    &_hidden {
        display: none;
    }
    
    &:hover {
        .progressThumb {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }
        
        .progressFilled {
            height: 15px;
        }
        
        .progressBackground {
            height: 15px;
        }
    }
}

.progressBackground {
    position: absolute;
    width: 100%;
    // right: 10px;
    height: 10px;
    background-color: rgba(60, 255, 0, 0.3);
    border-radius: 2px;
    transition: height 0.2s ease;
}

.progressFilled {
    position: absolute;
    height: 10px;
    background: linear-gradient(90deg, #ff0080, #ff2e00);
    border-radius: 2px;
    transition: width 0.1s linear, height 0.2s ease;
}

.progressThumb {
    position: absolute;
    margin-top: 7px;
    margin-left: -10px;
    top: 90%;
    transform: translate(-50%, -50%) scale(0);
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: all 0.2s ease;
    pointer-events: none;
    // z-index: 2;
}