body {
    margin: 20;
}

.toolsContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    &_hidden {
        transition: opacity 0.3s ease, visibility 0.3s ease;
        opacity: 0;
        visibility: hidden;
    }
}

.toolsWrapper {
    position: absolute;
    bottom: 0;
    // left: -0;
    width: 100%;
    height: 6%;
    display: block;
    pointer-events: auto;

    
    @media (max-width: 1080px) {
        height: 7%;
    }
    
    @media (max-width: 1440px) {
        height: 7%;
    }

    @media (max-width: 1920px) {
        height: 6%;
    }

    // @media (max-width: 2500px) {
    //     height: 10%;
    // }
}

.toolsBackground {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); 
    pointer-events: none;
    z-index: 1;
}

.toolsArea {
    // position: absolute;
    // bottom: 0;
    width: 100%;
    height:100%;
    display: flex;
    justify-content: space-between;

    // align-self: flex-end;
    // justify-content: end;
    // align-items: end;
    z-index: 50;
}

.toolsArea2 {
    width: 100%;
    display: flex;
    gap: 20px;
    height:100%;
    justify-content: start;
}
