body {
    margin: 0;
}

/* styles.module.scss */
.toolsContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    // background-color: gray;
    top: 0;
    left: 0;
    // height: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.toolsWrapper {
    position: absolute;
    // background-color: rgba(112, 104, 104, 0.3);
    // pointer-events: none;
    top: 85%;
    left: -0;
    width: 100%;
    height: 15%;
    cursor: pointer;
    display: block;
    pointer-events: auto;
}

.playBtn {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    z-index: 50;
    transition: all 0.2s ease;
    position: absolute;
    top: 30%;
    left: 2%;
    // right: 0%;
    
    &:hover {
        background: rgba(0, 0, 0, 0.7);
        transform: scale(1.1);
    }
    
    // &_hidden {
    //     display: none;
    // }
}

.progressContainer {

    &_hidden {
        display: none;
    }
    
    &:hover {
        // .progressThumb {
        //     opacity: 1;
        //     transform: translate(-50%, -50%) scale(1);
        // }
        
        .progressFilled {
            height: 15px;
        }
        
        .progressBackground {
            height: 15px;
        }
    }
}

.progressBackground {
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: rgba(60, 255, 0, 0.3);
    border-radius: 2px;
    transition: height 0.2s ease;
    &:hover {
        // .progressThumb {
        //     opacity: 1;
        //     transform: translate(-50%, -50%) scale(1);
        // }
        
        .progressFilled {
            height: 15px;
        }
        
        .progressBackground {
            height: 15px;
        }
    }
}

.progressFilled {
    position: absolute;
    height: 10px;
    background: linear-gradient(90deg, #ff0080, #ff2e00);
    border-radius: 2px;
    transition: width 0.1s linear, height 0.2s ease;
    &:hover {
        // .progressThumb {
        //     opacity: 1;
        //     transform: translate(-50%, -50%) scale(1);
        // }
        
        .progressFilled {
            height: 15px;
        }
        
        .progressBackground {
            height: 15px;
        }
    }
}

.progressThumb {
    position: absolute;
    margin-top: 7px;
    margin-left: -10px;
    top: 90%;
    transform: translate(-50%, -50%) scale(0);
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: all 0.2s ease;
    pointer-events: none;
}

// Создаем НОВЫЙ контейнер для фона
.toolsBackground {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-color: rgba(112, 104, 104, 0.3);
    pointer-events: none; // фон не кликабелен
    z-index: 5;
}

.toolsArea {
    background-color: rgba(112, 104, 104, 0.3);
    position: absolute;
    pointer-events: none;
    bottom: 0;
    width: 100%;
    height: 88%;
    display: flex;
    align-self: flex-end;
    justify-content: end;
    align-items: end;
    z-index: 50;

        & * {
        pointer-events: none; // Отключаем события для ВСЕХ детей
    }   
}