body {
    margin: 20;
}

.toolsContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    &_hidden {
        transition: opacity 0.3s ease, visibility 0.3s ease;
        opacity: 0;
        visibility: hidden;
    }
}

.toolsWrapper {
    position: absolute;
    top: 85%;
    left: -0;
    width: 100%;
    height: 15%;
    // cursor: pointer;
    display: block;
    pointer-events: auto;
}

.toolsBackground {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 92%;
    background-color: rgba(255, 255, 255, 0.7); 
    pointer-events: none;
    z-index: 5;
}

.toolsArea {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 88%;
    display: flex;
    align-self: flex-end;
    justify-content: end;
    align-items: end;
    z-index: 50;
}
