.toolsContainer {
    width: 100%;
}

.playBtn {
    color: white;
    position: absolute;
    top: 50%;
    right: 50%;
    display: block;

    &_hidden {
        display: none;
    }
}

.progressContainer {
    position: absolute;
    // top: 100%;
    bottom: 0%;
    width: 100%;
    height: 10px;
    background-color: red;
}

.progress {
    position: absolute;
    // top: 100%;
    bottom: 0%;
    height: 10px;
    transition: width 0.5s;
    background-color: rgb(0, 58, 248);
}