body {
    margin: 20;
}

.toolsContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.toolsWrapper {
    position: absolute;
    top: 85%;
    left: -0;
    width: 100%;
    height: 15%;
    // cursor: pointer;
    display: block;
    pointer-events: auto;
}

.toolsBackground {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 92%;
    background-color: rgba(255, 255, 255, 0.7); 
    pointer-events: none;
    z-index: 5;

    &_hidden {
        display: none;
    }
}

.toolsArea {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 88%;
    display: flex;
    align-self: flex-end;
    justify-content: end;
    align-items: end;
    z-index: 50;
}

.indicateTime {
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 20px;
    height: 60%;
    width: 100%;
    left: 21%;
    font-weight: 600;

    &_hidden {
        display: none;
    }
}