.playerContainer {
    position: relative;
    // height: 300px;
    width: 900px;
    cursor: pointer;

    &_hidden {
        position: relative;
        // height: 300px;
        width: 900px;
        cursor: none;
    }
}

.video {
    height: 100%;
    width: 100%;
    // position: absolute;
}
