.playerContainer {
    position: relative;
    width: 1400px;

    &_hidden {
        transition: all 1s ease;
        position: relative;
        width: 1400px;
        cursor: none;
    }
}

.video {
    height: 100%;
    width: 100%;
}
