.playerContainer {
    position: relative;
    width: 1400px;
    cursor: pointer;
    z-index: 1;

    &_hidden {
        position: relative;
        z-index: 1;
        width: 1400px;
        cursor: none;
    }
}

.video {
    height: 100%;
    width: 100%;
}
