.progressContainer {
    position: relative;
    width: 100%;
    height: 8px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 0px;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    z-index: 0;
}

.fragment {
    // position: absolute;
    height: 100%;
    top: 0;
    z-index: 1;
    // pointer-events: none;
    // border-radius: 200px;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    &:hover {
        top: 5px;
        height: 20px;
    }
}

.progressTimeHover {
    position: absolute;
    bottom: 20px;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 100;
}

.progressTimeHover_hidden {
    display: none;
}

.xxx {
    top: 0;
    left: 0;
    height: 10px;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 2px;
}