.progressTimeHover {
    position: absolute;
    display: block;
    top: -50px;
    color: #fff;
    background-color: red;
    padding: 10px 15px;
    width: auto;
    min-width: 60px;
    text-align: center;
    transform: translateX(-50%);
    border-radius: 4px;
    
    &_hidden {
        display: none;
    }
}

.progressContainer {
    position: relative; // Важно для absolute позиционирования внутри
    width: 100%;
    height: 10px;
    cursor: pointer;

    &_hidden {
        display: none;
    }
}

.progressFragment {
    &:hover {
        top: -5px;
        height: 12px;
    }
}

// Все сегменты используют одинаковые стили позиционирования
.progressBackground {
    position: absolute;
    top: 0;
    height: 10px;
    background-color: rgba(60, 255, 0, 0.3);
    border-radius: 2px;
}

.progressFilled {
    position: absolute;
    top: 0;
    height: 10px;
    background: red;
    border-radius: 2px;
}

.progressBuffered {
    position: absolute;
    top: 0;
    height: 10px;
    background: linear-gradient(90deg, #ffffff, #ffffff);
    border-radius: 2px;
}

.progressThumb {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: all 0.2s ease;
    pointer-events: none;
}