.progressTimeHover {
    position: absolute;
    display: block;
    top: -50px;
    color: #fff;
    background-color: red;
    padding: 10 15 10 15;
    width: 3%;
    transform: translateX(-50%);
    
    &_hidden {
        display: none;
    }
}

.progressContainer {
    width: 100%;
    cursor: pointer;

    &_hidden {
        display: none;
    }
    
    // &:hover {
    //     .progressFilled {
    //         height: 15px;
    //     }
        
    //     .progressBackground {
    //         height: 15px;
    //     }
    // }
}

.progressBackgroundContainer {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
    z-index: 9;  
}

.progressBackground {
    max-width: 100%;
    height: 10px;
    background-color: rgba(60, 255, 0, 0.3);
    border-radius: 2px;
    transition: height 0.2s ease;

    &:hover {
        .progressFilled {
            height: 15px;
        }
        
        .progressBackground {
            height: 15px;
        }
    }
}

.progressBufferedContainer {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
    z-index: 10;
}

.progressFilledContainer {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
    z-index: 11;
}

.progressFilled {
    height: 10px;
    background: red;
    &:hover {
        .progressFilled {
            height: 15px;
        }
        
        .progressBackground {
            height: 15px;
        }
    }
}

.progressBuffered {
    height: 10px;
    background: linear-gradient(90deg, #ffffff, #ffffff);
    border-radius: 2px;
}

.progressThumb {
    position: absolute;
    margin-top: 7px;
    margin-left: -10px;
    top: 90%;
    transform: translate(-50%, -50%) scale(0);
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: all 0.2s ease;
    pointer-events: none;
}